body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main-container {
    width: auto;
    display: inline-flex;
    flex-direction: row-reverse;
    background-color: #fff;
    box-shadow: 6px 6px 20px #1E2939;
    padding: 20px 0px 20px 25px;
}

.main-content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 500px;
    padding: 15px 40px 0px 50px; 
}

.about-me {
    margin-bottom: 40px;
}

.about-me h2 {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: black;
}

.about-me h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    color: black;
    margin-bottom: 25px;  
}

.about-me p {
    width: auto;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #595959;
}

.my-projects {
    color:black;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0px;
}

.my-projects h3 {
    margin: 0;
    color:black;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

.my-projects table ol {
    padding-left: 15px;
}

.my-projects table a {
    color: #595959;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.my-projects table a:hover {
    text-decoration: underline;
    color: #FB6D3A; 
}

.my-projects table ol li::marker {
    color: black;
}

.my-projects table ol li {
    padding-left: 10px;
}

.my-projects ol li span {
    color: #595959;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.my-projects table td ul {
    list-style: none;
}

.my-projects table td ul li span {
    padding: 0 5px 0 5px;
}

.my-work-experience {
    padding: 0px;
    text-align: left;
    font-style: normal;
}

.my-work-experience div {
    padding-left: 5px;
}
.my-work-experience h3 {
    color: black;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;  
}

.my-work-experience div h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    margin-bottom: 0 0 10px 0;
}

.my-work-experience div h4 .position {
    color: black;
}

.my-work-experience div h4 .place-work {
    color: #FB6D3A;
}

.my-work-experience div p {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    margin: 0 0 10px 10px;
}

.separator {
    color: black;
    font-weight: 400;
}

.my-work-experience div ul {
    padding: 0 0 0 20px;
}

.my-work-experience div ul li {
    color: #595959;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.my-work-experience div ul li::marker {
    color: black;
}

.my-education {
    padding: 0px;
}

.my-education div {
    padding-left:  10px;
}
.my-education h3 {
    padding: auto;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}

.my-education h4 {
    color: #F86D3A;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.my-education h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;   
}

.my-education p {
    color: #A8A8A8;
    font-size: 12px;
    line-height: 15px;    
}

.my-education p .separator {
    color: black;
}

.sidebar {
    height: auto;
    width: 360px;
    padding: 0px;
    border-radius: 0px;
    font-style: normal;
    font-weight: normal;
    background-color: #1E2939;
    color: #fff;
}

.my-photo {
    padding: 30px 30px 0 30px;
    width: 300px;
    height: 320px;

}

.sidebar h3 {
    font-size: 22px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0em;
}

.sidebar-contacts {
    margin: 40px 0 0 40px;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;

}

.sidebar-contacts div span {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.sidebar-contacts div a {
    color: #fff;
    padding-left: 10px;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    line-height: 24px;
    opacity: 0.5;
}

.sidebar-contacts div a:hover {
    text-decoration: underline;
    color: #FB6D3A;
}

.id2-or-next {
    margin-left: 20px;
}

.sidebar-my-skills {
    margin: 0px 0 0 40px;
}

.sidebar-my-skills ul {
    padding: 0 0 0 20px;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.sidebar-my-skills ul li {
    padding-left: 10px;
}

.sidebar-my-skills ul li::marker {
    color: #FB6D3A;
}

.myskills-cloud {
    padding: 0px 55px 10px 55px;
    width: 250px;
    height: 250px;
}

