/* my root Paragraph style */

p {
    font-size: 20px;
}

/* my root Reference style */

a {
    text-decoration:aqua;
}

/* myText class style */

.text {
    color:aquamarine;
    background-color: chocolate;
}

/* myLink class style */

.link {
    font-family:'Times New Roman', Times, serif;
    font: size 20px;
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: none;
}